/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding doesn't affect the overall width/height */
}

/* Root Variables */
:root {
    --nordBlack: #2e3440;
    --nordWhite: #eceff4;
    --nordGrey: #434c5e;
    --font-size-base: 1rem; /* Set a base font size */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins, Arial;
    background-color: var(--nordBlack);
    padding: 1rem 2rem; /* Using rem for scalable padding */
    border-bottom: 1px solid var(--nordGrey);
    margin-bottom: 0;
}

ul {
    display: flex;
    align-items: center;
    column-gap: 2rem; /* Use rem for consistent spacing */
    list-style: none;
    font-family: Poppins, Arial;
    margin: 0 2rem;
}

.navLink {
    text-decoration: none;
    color: var(--nordWhite);
    font-size: 1rem; /* Use relative font size */
    padding: 0.625rem 0.625rem;
    border-radius: 2.5rem;
    transition: all 0.5s ease;
}

.navLink:hover {
    background-color: var(--nordWhite);
    color: var(--nordBlack);
    font-weight: 500;
}

/* Animations Box */
.animBox {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

iframe {
    border: none;
}

#websiteLogo {
    width: 100px;
}

/* Homepage */
h1, h2, h3, p {
    font-family: Poppins, Arial;
    margin-left: 30px;
}

.welcomeMsg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.welcomeMsg > p {
    width: 80%; /* Reduce width for better readability */
    max-width: 40rem; /* Limit the maximum width */
    text-align: center;
}

.welcomeSection {
    background-color: var(--nordBlack);
    color: var(--nordWhite);
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
}

.discoverTxt {
    margin: 2rem 0;
    text-align: center;
    font-size: 2.5rem;
}

p {
    margin-bottom: 1.25rem;
}

.wysImg {
    width: 150px;
    border-radius: 180px;
    transition: width 0.5s ease;
}

.wysImg:hover {
    width: 180px;
}

.artistCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artistName {
    margin: 0;
    padding-top: 0.5rem;
}

.aboutArtistTxt {
    width: 25rem;
    text-align: center;
}

.playlistContainer {
    display: flex;
    column-gap: 20px;
    margin: 0 30px;
}

/* Footer */
footer {
    background-color: var(--nordBlack);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.25rem; /* Consistent padding */
    flex-wrap: nowrap;
}

.footerNav {
    display: flex;
    flex-direction: column;
    margin: 0 1.25rem;
}

.footerNav h3 {
    color: var(--nordWhite);
    margin-bottom: 0.625rem;
}

.footerNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerNav li {
    margin-bottom: 0.625rem; /* Adjust spacing between list items */
}

.footerNav a {
    text-decoration: none;
    color: var(--nordWhite);
    transition: color 0.3s ease, text-decoration 0.3s ease, transform 0.3s ease;
}

.footerNav a:hover {
    text-decoration: underline;
    color: var(--nordGrey); /* Adjust hover color */
    transform: scale(1.05);
}

.legalTxt {
    color: var(--nordWhite);
    margin-top: 1.25rem;
    text-align: center;
    font-size: 0.875rem;
}

/* About Page */
.authorAvatar {
    width: 180px;
    border-radius: 100px;
    margin: 1.25rem 0;
}

.authorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3.75rem;
}

.authorInfo > h1 {
    font-size: 2.5rem;
}

.authorInfoTxt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 2.5rem;
    padding-bottom: 6.25rem;
}

.authorInfoTxt p {
    width: 37.5rem;
    line-height: 1.875rem;
}

.authorInfoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--nordGrey);
    color: var(--nordWhite);
}

#subTitle {
    text-align: center;
    margin: 1.25rem auto;
    font-size: 2.2rem;
}

/* Artist Page */
.artistImg {
    width: 200px;
    border-radius: 100px;
}

.aboutWys {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50rem;
    margin: 0 auto 1.25rem;
    border-radius: 0.625rem;
    transition: all 0.5s ease;
}

.aboutWys:hover {
    box-shadow: 4px 8px 5px var(--nordGrey);
}

.aboutWys > h2 {
    margin: 1.25rem 0;
}

#whoIsWys {
    margin-left: 0;
}

.albumCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4c566a;
    width: 37.5rem;
    border-radius: 0.625rem;
    margin-left: 1.875rem;
    margin-bottom: 2.5rem;
}

.albumCard > p {
    width: 25rem;
    color: var(--nordWhite);
    margin-right: 2.5rem;
}

.albumCard img {
    border-radius: 0.625rem;
    width: 18.75rem;
    transition: width 0.5s ease;
}

.albumCard img:hover {
    width: 21.875rem;
}

.albumSection {
    display: flex;
    overflow: auto;
}

.whoIsWysTxt {
    width: 37.5rem;
    margin-top: 2.5rem;
    text-align: center;
}

/* Playlist Page */
.playLists {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Defines two equal columns */
    grid-auto-rows: auto;
    row-gap: 1.25rem;
    column-gap: 1.25rem;
    justify-items: center;
    margin: 0 1.25rem 1.25rem;
}

.spotifyTxtBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 0;
}

.spotifyTxtBox h2 {
    font-size: 2.5rem;
}

/* Contact Page */
.contactItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.625rem;
}

.contactItems img {
    margin-bottom: 1.875rem;
    border-radius: 100px;
}

.contactCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 25rem;
    margin: 2.5rem auto;
    padding: 1.25rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.contactCard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

textarea {
    padding: 0.625rem;
}

.contactCard input {
    padding: 0.625rem;
    text-align: left;
    font-family: Poppins, Arial;
}

.contactCard, label, textarea {
    font-family: Poppins, Arial;
    font-size: 0.875rem;
}

.contactMeTitle {
    text-align: center;
    margin: 2.5rem 0;
}

.sendBtn {
    margin: 1.25rem 0;
    padding: 0.625rem 1.875rem;
    background-color: var(--nordWhite);
    border: none;
    border-radius: 0.625rem;
    font-family: Poppins, Arial;
    cursor: pointer;
}

/* Media Queries for Enhanced Responsiveness */

/* For tablets and small devices */
@media only screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .navLink {
        font-size: 0.875rem; /* Adjust font size */
    }

    .welcomeMsg p {
        width: 90%; /* Adjust width for medium screens */
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .footerNav {
        align-items: center;
    }
}

/* For phones and smaller screens */
@media only screen and (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
        row-gap: 1rem; /* Add spacing for vertically stacked items */
        margin: 1rem 0;
    }

    .welcomeMsg p {
        width: 100%; /* Full width on small screens */
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .footerNav {
        align-items: center;
        margin-bottom: 1.25rem;
    }

    .contactCard {
        width: 90%; /* Full width on smaller screens */
    }

    .albumCard {
        width: 100%; /* Full width album cards */
        margin-left: 0;
    }

    .albumCard img {
        width: 10rem;
    }

    .albumCard img:hover {
        width: 12rem;
    }
}
