
/* Homepage Styling*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    list-style: none;
  
}

a{
    text-decoration: none;
}